html {
  height: 100vh;
  width: 100vh;
}
*{
  font-family: 'Roboto', sans-serif;
 }
div{
}
body{
  background-image: url('mini-narodnyie-primetyi-oseni1.jpg');
 background-repeat: no-repeat;
background-size: 250%;
}
h1{
  color: #085e26;
  padding-left:90vh; 
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30pt;
}
img{
  width: 50vh;
  height: 50vh;
  margin-left: 10vh;
  margin-top: 20vh;
}
.nup{
  width: 50vh;
  height: 60vh;
  margin-left: 140vh;
  margin-top:-120vh;
}
.but{
   margin-left: 140vh;
}
  button:hover {
  border: solid white;
  background-image: url('mini-narodnyie-primetyi-oseni1.jpg');
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: #ffffff;
}