html {
  height: 100vh;
  width: 100vh;
}
*{
  font-family: 'Roboto', sans-serif;
 }
div{
}
body{
  background-image: url('mini-narodnyie-primetyi-oseni1.jpg');
 background-repeat: no-repeat;
background-size: 250vh;
}
h1{
  padding-left: 20vh;
  padding-top: 40vh;
  color: #ffffff;
  font-size: 40pt;
}
button{
  margin-left: 31vh;
  margin-top: 3vh;
  padding: 2vh;
  font-weight: bold;
  background-color: #ffffff;
}
button:hover {
  border: solid white;
  background-image: url('mini-narodnyie-primetyi-oseni1.jpg');
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: #ffffff;
}
